version: '24.0.2'
services: 
  dev-db: 
    image: postgres:15
    ports:
      - 5434:5432
    environment: 
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: beatit

  test-db:
    image: postgres:15
    ports:
      - 5435:5432
    environment: 
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: beatit
  redis:
    container_name: cache
    image: redis
    ports:
      - 12711:12711
    volumes:
      - redis:/data

volumes:
  redis:
    driver: local


